@import "tailwindcss";
@import '@fontsource/josefin-sans';
body {
    font-family: 'Josefin Sans', sans-serif;
  }

  button{
    cursor: pointer;
  }


  /* Hide scrollbar for all elements */
* {
  -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
  scrollbar-width: none;     /* Hide scrollbar for Firefox */
}

*::-webkit-scrollbar {
  display: none;  /* Hide scrollbar for Chrome, Safari, and Opera */
}
